:host  {
    display: block;
    border: 2px dotted rgb(52, 234, 122);
    margin:10px;
    padding:10px;
}

.mat-toolbar {
    background-color: #000;
    color:#fff;

    ul li {
        display: inline;
        padding:10px
    }
}

.favoris {
    color:rgb(225, 26, 149)
}